stages:
  - build

variables:
  # Use the overlay2 driver for better performance
  DOCKER_DRIVER: overlay2
  # Define the image name using GitLab's predefined variables
  IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG

build_image:
  stage: build
  image: docker:24.0.5 # The Docker CLI client
  services:
    - docker:24.0.5-dind # The Docker engine daemon
  script:
    # 1. Log into the GitLab Container Registry
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    
    # 2. Build the image using the Dockerfile in your repo
    - docker build -t $IMAGE_TAG .
    
    # 3. Push the image to the registry
    - docker push $IMAGE_TAG
  only:
    - main # Only run this job when pushing to the main branch